﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Backbone TO-DO Tests</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="../../node_modules/mocha/mocha.css" />
</head>
<body>
    <div id="mocha"></div>
    
    <script type="text/template" id="item-template">
        <div class="row">
            <div class="col-sm-2">
                <a class="toggle"><% if (cheked) { %>
                    <i class="fa fa-check-square-o"></i>
                    <% } else { %>
                    <i class="fa fa-square-o"></i>
                    <% } %>
                </a>
            </div>
            <div class="col-sm-8">
                <p class="list-group-item-text <%= cheked ? 'cheked' : '' %>"><%= text %></p>
                <input class="edit" type="text" value="<%= text %>" />
            </div>
            <div class="col-sm-2 align-right"><a class="destroy"><i class="fa fa-times"></i></a></div>
        </div>
    </script>

    <!-- Test Fixtures. -->
    <div id="fixtures" style="display: none; visibility: hidden;"></div>

    <!-- JavaScript Test+ Core + App Libraries. -->
    <script src="js/test-main-ck.js"></script>

    <!-- Set up Mocha and Chai -->
    <script>
        var expect = chai.expect;
        mocha.setup({
            ui: "bdd",
            bail: false
        });

        window.onload = function () {
            (window.mochaPhantomJS || mocha).run();
        };
    </script>

    <!-- Test specs. -->
    <script src="js/test-ck.js"></script>
</body>
</html>
