﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Backbone TO-DO List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <div class="row">
        <div class="page-header col-sm-offset-4 col-sm-4">
            <h1>To-DO List</h1>
        </div>
    </div>
    <div class="container" id="app">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <input id="new-todo" placeholder="What's need to be done?" type="text" />
                <ul id="todo-list" class="list-group"></ul>
            </div>
        </div>
    </div>

    <script type="text/template" id="item-template">
        <div class="row">
            <div class="col-sm-2">
                <a class="toggle">
                    <% if (cheked) { %>
                    <i class="fa fa-check-square-o"></i>
                    <% } else { %>
                    <i class="fa fa-square-o"></i>
                    <% } %>
                </a>
            </div>
            <div class="col-sm-8">
                <p class="list-group-item-text <%= cheked ? 'cheked' : '' %>"><%= text %></p>
                <input class="edit" type="text" value="<%= text %>" />
            </div>
            <div class="col-sm-2 align-right"><a class="destroy"><i class="fa fa-times"></i></a></div>
        </div>
    </script>

    <script src="js/main-ck.js"></script>
</body>
</html>
