.page-header {
    text-align: center;
}

#new-todo {
    width: 100%;
    margin-bottom: 20px;
}

.list-group-item {

    .toggle, .destroy {
        margin-top: 4px;
        display: block;
    }

    a {
        cursor: pointer;
    }

    .align-right {
        text-align: right;
    }

    &:hover {
        .destroy {
            opacity: 1;
        }
    }

    .destroy {
        opacity: 0;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        -webkit-transition: all .5s;
        transition: all .5s;
    }

    &.editing {
        .list-group-item-text {
            display: none;
        }

        .edit {
            display: block;
        }
    }

    .edit {
        display: none;
        height: 26px;
    }

    .list-group-item-text {
        padding: 4px 2px;
        -ms-word-wrap: break-word;
        word-wrap: break-word;

        &.cheked {
            color: #ccc;
            text-decoration: line-through;
        }
    }
}
